# ==================================
# 1. 忽略庞大的数据集文件 (必须忽略，否则 GitHub 会卡死)
# ==================================
disaster_dataset/
images/
labels/

# ==================================
# 2. 忽略庞大的预训练权重和运行日志
# ==================================
# 忽略官方自动下载的基础权重 (别人跑代码时系统会自动帮他们下载)
yolov8n.pt
yolov8s.pt
yolov8m.pt

# 忽略 YOLO 自动生成的完整训练日志文件夹 (里面有几十个 epoch 的中间文件，太大了)
#runs/

# ==================================
# 3. 忽略 Python 和操作系统的本地缓存垃圾
# ==================================
__pycache__/
*.pyc
.DS_Store
.idea/
.vscode/

# ==================================
# 4. 忽略每次跑测试临时生成的结果文件 (可选)
# ==================================
#result.json
#inference_result.jpg